<div class="card-content" *ngFor="let item of branchOffice">
  <ul>
    <li>Id компании: {{item.id}}</li>
    <li>Адрес: {{item.office_address}}</li>
    <li>Телефон: {{item.office_phone}}</li>
    <li>Учредитель: {{item.official_person}}</li>
    <div *ngIf="this.autorizationServices.roles == 'admin'">
      <button type="button" class="btn-flat" (click)="this.branchOfficeServices.openModalAddBranchOffice()">Добавить
      </button>
      <button type="button" class="btn-flat" (click)="this.branchOfficeServices.openModalEditBranchOffice(item)">
        Редактировать
      </button>
    </div>
  </ul>
</div>
